body,
html {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

.cat-list {
  display: flex;
  align-items: center;
  border-top: 1.2px dotted black;
}

.cat {
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .cat-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cat {
    margin: 0 auto;
  }

  .cat-list > img {
    margin: 0 auto;
    padding: 10px;
  }
}
